<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tom.regensbad" >

    <!--
         This piece of code was taken from the parse.com quick start guide, which can be found under the following link:
        * https://parse.com/apps/quickstart#parse_data/mobile/android/native/existing .
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/action_bar_regensbad_theme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccountOrSignInActivity"
            android:label="@string/title_activity_create_account_or_sign_in" >
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/title_activity_reset_password" >
        </activity>
        <activity
            android:name=".WeatherDetailActivity"
            android:label="@string/title_activity_weather_detail" >
        </activity>
        <activity
            android:name=".AllCivicPoolsActivity"
            android:label="@string/title_activity_all_civic_pools" >
        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".ClosestCivicPoolActivity"
            android:label="@string/title_activity_closest_civic_pool" >
        </activity>
        <activity
            android:name=".AllCivicPoolsOnMapActivity"
            android:label="@string/title_activity_all_civic_pools_on_map" >
        </activity>
        <activity
            android:name=".CivicPoolDetailActivity"
            android:label="@string/title_activity_civic_pool_detail" >
        </activity>
    </application>

</manifest>
